# =========================

# PYTHON

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# ENTORNOS VIRTUALES

# =========================

.venv/
venv/
env/

# =========================

# IDE

# =========================

.vscode/
.idea/

# =========================

# VARIABLES DE ENTORNO

# =========================

.env

# =========================

# LOGS

# =========================

*.log

# =========================

# CHROMADB

# =========================

chroma_db/

# =========================

# AUDIOS TEMPORALES

# =========================

*.wav
*.mp3
*.m4a
*.ogg

# =========================

# CACHE

# =========================

.cache/
.pytest_cache/

# =========================

# BUILD

# =========================

build/
dist/
*.egg-info/

# =========================

# SISTEMA OPERATIVO

# =========================

.DS_Store
Thumbs.db
